body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	background-color: white;
	color: black;
}
#menu {
	color: white;
	background-color: #222;
	background-image: url('../images/menu_bg.png');
	list-style: none;
	font-size: 16px;
	margin:0;
	padding-left:20px;
}
#menu li {
	display: inline-block;
	margin-left:-5px;
	padding:0;
}
#menu li a {
	display: inline-block;
	color: white;
	text-decoration: none;
	padding: 15px 10px;
	/*
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;*/
	/*margin-right: 7px;*/
	margin-top: 7px;
	border: none;
}
#menu li.current a {
	/*background-color: #000;*/
	background-color: #083D68;
	border: none;
}
#menu li a:hover {
	/*background-color: #000;*/
	background-color: #083D68;
	border: none;
}
#header {
	position: relative;
	padding: 15px;
	padding-top: 20px;
	padding-left: 30px;
	line-height: 25px;
	text-shadow: 1px 1px 1px black;
	color: white;
	padding-bottom: 5px;
	background-color: black;
	background-image: url('../images/brick-blue-bg.jpg');
}
#header #background {
	position: absolute;
	z-index: -1;
	top: 0;
	margin: auto;
	display: none;
}
#header img {
	float: right;
	margin-top: 6px;
	margin-right: 3px;
	border: none;
}
.logo {
	font-size: 52px;
}
.description {
	font-size: 16px;
	color: white;
	/*display: inline-block;*/
	/*padding-left: 80px;*/
}
#main {
	padding: 8px 0px 0px 0px;
	background-color: black;
}

#main .inner {
	padding: 5px 30px 20px 30px;
	background-color: white;
	/*
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	*/
}
h2 {
	color: #092B61;
	text-shadow: 1px 1px 1px #cecece;
	border-bottom: 1px dashed #cecece;
	font-weight: bold;
}
pre {
	padding: 15px;
}

.section {
	padding: 0px 20px 0px 10px;
}

p {
	padding: 0;
	margin: 0;
}

a {
	color: #114486;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	border-bottom: 1px dotted #114486;
}

#footer {
	min-height: 50px;
	border-top: 1px dashed #222;
	color: white;
}

#sub-header {
	background-color: #083d68;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #222;
}
#sub-header .description {
	font-size: 18px;
}

.mason-sites {
	list-style: none;
}

.mason-sites li {
	margin-bottom: 20px;
	position: relative;
}

.mason-sites li table tr td.logo {
	width: 150px;
	font-size: 0;
}

.mason-sites li table {
	border-spacing: 0;
}

.mason-sites li table tr td {
	vertical-align: top;
	padding: 10px;
	padding-bottom: 25px;
	border-bottom: 1px dashed #cecece;
}
